<div class="card container-fluid border border-0">
    <div class="d-flex container shadow rounded">
        <div class="item ">
            <img src="/../../../assets/img/offer.png" alt="offer">
            <p class="fw-bold" >Offer</p>
        </div>
        <div class="item">
            <img src="/../../../assets/img/grocery.png" alt="grocery">
            <p class="fw-bold" >Grocery</p>
        </div>
        <div class="item">
            <img src="/../../../assets/img/mobile.png" alt="mobile">
            <p class="fw-bold" >Mobile</p>
        </div>
        <div class="item">
            <img src="/../../../assets/img/appliance.png" alt="appliance">
            <p class="fw-bold" >Appliance</p>
        </div>
        <div class="item">
            <img src="/../../../assets/img/electronic.png" alt="eletronics">
            <p class="fw-bold" >Electronics</p>
        </div>
        <div class="item">
            <img src="/../../../assets/img/cloth.png" alt="cloth">
            <p class="fw-bold" >Cloths</p>
        </div>
        <div class="item">
            <img src="/../../../assets/img/home.png" alt="cloth">
            <p class="fw-bold" >Home</p>
        </div>
        <div class="item">
            <img src="/../../../assets/img/toy.png" alt="cloth">
            <p class="fw-bold" >Toy, Beauty and more</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <ng-container *ngFor ="let item of productList">            
            <div class="card col-md-3 border border-0" id="product">
                <img src="{{item.image}}" alt="">
                <h5 class="mt-4" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;" >{{item.title}}</h5>
                <p  style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p>
                <p>price:  <strong><i class="fas fa-rupee-sign" style="font-size: 13px;"></i>{{item.price | currencyCon:75 }}</strong></p>
                <button class="btn btn-primary" (click)="addCart(item)" >Add Cart</button>
            </div>
        </ng-container>        
    </div>
</div>
